# Variáveis de Ambiente para o Projeto Receitas-Backend

# Porta da aplicação
PORT=3000

# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=receitas_db

# Chave secreta para JWT
JWT_SECRET=sua_chave_secreta_super_segura
