-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: receitas_milionarias_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `assinaturas`
--

DROP TABLE IF EXISTS `assinaturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assinaturas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_assinatura_gateway` varchar(255) NOT NULL,
  `plano` varchar(100) NOT NULL,
  `status` enum('ativa','pendente','cancelada','inadimplente') NOT NULL DEFAULT 'pendente',
  `data_inicio` datetime NOT NULL,
  `data_fim` datetime DEFAULT NULL,
  `data_proxima_cobranca` datetime DEFAULT NULL,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `assinaturas_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assinaturas`
--

LOCK TABLES `assinaturas` WRITE;
/*!40000 ALTER TABLE `assinaturas` DISABLE KEYS */;
/*!40000 ALTER TABLE `assinaturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_receitas`
--

DROP TABLE IF EXISTS `categorias_receitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_receitas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci,
  `imagem_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_receitas`
--

LOCK TABLES `categorias_receitas` WRITE;
/*!40000 ALTER TABLE `categorias_receitas` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias_receitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comentarios_avaliacoes`
--

DROP TABLE IF EXISTS `comentarios_avaliacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comentarios_avaliacoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_receita` int NOT NULL,
  `id_usuario` int NOT NULL,
  `avaliacao` tinyint unsigned DEFAULT NULL COMMENT 'Avalia├º├úo de 1 a 5',
  `comentario` text COLLATE utf8mb4_unicode_ci,
  `id_midia_anexo` int DEFAULT NULL COMMENT 'Foto enviada pelo usu├írio no coment├írio',
  `id_comentario_pai` int DEFAULT NULL COMMENT 'Para respostas a outros coment├írios',
  `data_criacao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_receita` (`id_receita`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_midia_anexo` (`id_midia_anexo`),
  KEY `id_comentario_pai` (`id_comentario_pai`),
  CONSTRAINT `comentarios_avaliacoes_ibfk_1` FOREIGN KEY (`id_receita`) REFERENCES `receitas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `comentarios_avaliacoes_ibfk_2` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `comentarios_avaliacoes_ibfk_3` FOREIGN KEY (`id_midia_anexo`) REFERENCES `midia` (`id`) ON DELETE SET NULL,
  CONSTRAINT `comentarios_avaliacoes_ibfk_4` FOREIGN KEY (`id_comentario_pai`) REFERENCES `comentarios_avaliacoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comentarios_avaliacoes`
--

LOCK TABLES `comentarios_avaliacoes` WRITE;
/*!40000 ALTER TABLE `comentarios_avaliacoes` DISABLE KEYS */;
INSERT INTO `comentarios_avaliacoes` VALUES (7,11,1,5,'muito top parabens',NULL,NULL,'2025-10-13 21:40:05'),(10,11,16,4,'Otimo',NULL,NULL,'2025-10-13 22:44:36'),(11,11,1,3,'testestes',NULL,NULL,'2025-10-13 23:00:22'),(12,8,1,2,'ok aqui',NULL,NULL,'2025-10-13 23:55:29'),(13,9,1,3,'',NULL,NULL,'2025-10-14 00:00:25'),(14,9,1,4,'iso',NULL,NULL,'2025-10-14 00:00:43'),(15,6,1,5,'94499',NULL,NULL,'2025-10-14 00:00:55'),(16,11,1,2,'B├úo',NULL,NULL,'2025-10-14 00:10:48'),(17,8,18,4,'B├úo',NULL,NULL,'2025-10-15 14:01:30'),(18,9,1,3,'b├úo',NULL,NULL,'2025-10-18 12:26:59');
/*!40000 ALTER TABLE `comentarios_avaliacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comissoes`
--

DROP TABLE IF EXISTS `comissoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comissoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_afiliado` int NOT NULL,
  `id_usuario_pagador` int NOT NULL,
  `id_pagamento_origem` int NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `status` enum('pendente','disponivel','paga','cancelada') NOT NULL DEFAULT 'pendente',
  `data_liberacao` date NOT NULL,
  `id_saque` int DEFAULT NULL,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fonte` varchar(50) DEFAULT NULL COMMENT 'Origem da comiss├úo (ex: stripe, mercadopago)',
  PRIMARY KEY (`id`),
  KEY `id_afiliado` (`id_afiliado`),
  KEY `id_usuario_pagador` (`id_usuario_pagador`),
  KEY `id_pagamento_origem` (`id_pagamento_origem`),
  CONSTRAINT `comissoes_ibfk_1` FOREIGN KEY (`id_afiliado`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `comissoes_ibfk_2` FOREIGN KEY (`id_usuario_pagador`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `comissoes_ibfk_3` FOREIGN KEY (`id_pagamento_origem`) REFERENCES `pagamentos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comissoes`
--

LOCK TABLES `comissoes` WRITE;
/*!40000 ALTER TABLE `comissoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `comissoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compartilhamentos`
--

DROP TABLE IF EXISTS `compartilhamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compartilhamentos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_receita` int NOT NULL,
  `id_usuario_compartilhou` int NOT NULL,
  `codigo_unico` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `plataforma` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Ex: whatsapp, facebook, link_direto',
  `data_criacao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo_unico` (`codigo_unico`),
  KEY `id_receita` (`id_receita`),
  KEY `id_usuario_compartilhou` (`id_usuario_compartilhou`),
  CONSTRAINT `compartilhamentos_ibfk_1` FOREIGN KEY (`id_receita`) REFERENCES `receitas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `compartilhamentos_ibfk_2` FOREIGN KEY (`id_usuario_compartilhou`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compartilhamentos`
--

LOCK TABLES `compartilhamentos` WRITE;
/*!40000 ALTER TABLE `compartilhamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `compartilhamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cursos`
--

DROP TABLE IF EXISTS `cursos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cursos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome_curso` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao_curso` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cursos`
--

LOCK TABLES `cursos` WRITE;
/*!40000 ALTER TABLE `cursos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cursos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ganhos_afiliados`
--

DROP TABLE IF EXISTS `ganhos_afiliados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ganhos_afiliados` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `descricao` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `origem_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ID da transa├º├úo na API externa, ou ID da venda/indica├º├úo interna',
  `status` enum('pendente','disponivel','pago','cancelado','futuro') COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_referencia` date NOT NULL COMMENT 'M├¬s/Dia a que o ganho se refere',
  `data_pagamento` date DEFAULT NULL COMMENT 'Data em que o valor foi efetivamente pago',
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `ganhos_afiliados_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ganhos_afiliados`
--

LOCK TABLES `ganhos_afiliados` WRITE;
/*!40000 ALTER TABLE `ganhos_afiliados` DISABLE KEYS */;
/*!40000 ALTER TABLE `ganhos_afiliados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grupos_ingredientes`
--

DROP TABLE IF EXISTS `grupos_ingredientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grupos_ingredientes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_receita` int NOT NULL,
  `titulo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ordem` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `id_receita` (`id_receita`),
  CONSTRAINT `grupos_ingredientes_ibfk_1` FOREIGN KEY (`id_receita`) REFERENCES `receitas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grupos_ingredientes`
--

LOCK TABLES `grupos_ingredientes` WRITE;
/*!40000 ALTER TABLE `grupos_ingredientes` DISABLE KEYS */;
INSERT INTO `grupos_ingredientes` VALUES (13,6,'Arroz',1),(14,6,'Frango',2),(29,8,'Frango',1),(30,8,'Arroz',2),(31,8,'Finalizar',3),(34,9,'Ingredientes',1),(35,5,'Pudim',1),(36,5,'Calda',2),(38,11,'Massa',1),(39,11,'Recheio',2),(40,12,'Ingredientes',1),(41,12,'',2);
/*!40000 ALTER TABLE `grupos_ingredientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historico_logins`
--

DROP TABLE IF EXISTS `historico_logins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historico_logins` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_usuario` int DEFAULT NULL,
  `email_tentativa` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_login` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `endereco_ip` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `sucesso` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historico_logins`
--

LOCK TABLES `historico_logins` WRITE;
/*!40000 ALTER TABLE `historico_logins` DISABLE KEYS */;
/*!40000 ALTER TABLE `historico_logins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredientes`
--

DROP TABLE IF EXISTS `ingredientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredientes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_grupo` int NOT NULL,
  `descricao` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Ex: 2 x├¡caras de farinha de trigo',
  `observacao` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Ex: peneirada',
  `ordem` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `id_grupo` (`id_grupo`),
  CONSTRAINT `ingredientes_ibfk_1` FOREIGN KEY (`id_grupo`) REFERENCES `grupos_ingredientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=145 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredientes`
--

LOCK TABLES `ingredientes` WRITE;
/*!40000 ALTER TABLE `ingredientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingredientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `midia`
--

DROP TABLE IF EXISTS `midia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `midia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario_upload` int NOT NULL,
  `url_arquivo` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_arquivo` enum('imagem','video','documento') COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_upload` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_usuario_upload` (`id_usuario_upload`),
  CONSTRAINT `midia_ibfk_1` FOREIGN KEY (`id_usuario_upload`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `midia`
--

LOCK TABLES `midia` WRITE;
/*!40000 ALTER TABLE `midia` DISABLE KEYS */;
/*!40000 ALTER TABLE `midia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagamentos`
--

DROP TABLE IF EXISTS `pagamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagamentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_pagamento_gateway` varchar(255) NOT NULL,
  `id_assinatura` int DEFAULT NULL,
  `valor` decimal(10,2) NOT NULL,
  `status` enum('aprovado','pendente','recusado','reembolsado') NOT NULL,
  `metodo_pagamento` varchar(50) DEFAULT NULL,
  `data_pagamento` datetime NOT NULL,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fonte` varchar(50) DEFAULT NULL COMMENT 'Origem do pagamento (ex: stripe, mercadopago)',
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_assinatura` (`id_assinatura`),
  CONSTRAINT `pagamentos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pagamentos_ibfk_2` FOREIGN KEY (`id_assinatura`) REFERENCES `assinaturas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagamentos`
--

LOCK TABLES `pagamentos` WRITE;
/*!40000 ALTER TABLE `pagamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passos_preparo`
--

DROP TABLE IF EXISTS `passos_preparo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passos_preparo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_receita` int NOT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `observacao` text COLLATE utf8mb4_unicode_ci,
  `ordem` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `id_receita` (`id_receita`),
  CONSTRAINT `passos_preparo_ibfk_1` FOREIGN KEY (`id_receita`) REFERENCES `receitas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=118 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passos_preparo`
--

LOCK TABLES `passos_preparo` WRITE;
/*!40000 ALTER TABLE `passos_preparo` DISABLE KEYS */;
/*!40000 ALTER TABLE `passos_preparo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_expiracao` timestamp NOT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissoes`
--

DROP TABLE IF EXISTS `permissoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissoes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissoes`
--

LOCK TABLES `permissoes` WRITE;
/*!40000 ALTER TABLE `permissoes` DISABLE KEYS */;
INSERT INTO `permissoes` VALUES (1,'admin'),(6,'afiliado'),(5,'afiliado pro'),(4,'editor'),(3,'produtor'),(2,'sub-admin');
/*!40000 ALTER TABLE `permissoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receita_tags`
--

DROP TABLE IF EXISTS `receita_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receita_tags` (
  `id_receita` int NOT NULL,
  `id_tag` int NOT NULL,
  PRIMARY KEY (`id_receita`,`id_tag`),
  KEY `id_tag` (`id_tag`),
  CONSTRAINT `receita_tags_ibfk_1` FOREIGN KEY (`id_receita`) REFERENCES `receitas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `receita_tags_ibfk_2` FOREIGN KEY (`id_tag`) REFERENCES `tags` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receita_tags`
--

LOCK TABLES `receita_tags` WRITE;
/*!40000 ALTER TABLE `receita_tags` DISABLE KEYS */;
INSERT INTO `receita_tags` VALUES (5,5),(9,14),(11,16),(6,17),(8,17),(12,20),(6,22),(8,22),(11,22),(5,23),(9,24),(9,31),(6,35);
/*!40000 ALTER TABLE `receita_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receitas`
--

DROP TABLE IF EXISTS `receitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receitas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `resumo` text COLLATE utf8mb4_unicode_ci,
  `id_categoria` int NOT NULL,
  `id_usuario_criador` int NOT NULL COMMENT 'Usu├írio que cadastrou a receita',
  `id_produtor` int DEFAULT NULL COMMENT 'Dono/Produtor oficial da receita (pode ser diferente do criador)',
  `id_midia_principal` int DEFAULT NULL COMMENT 'ID da foto ou v├¡deo principal da receita',
  `dificuldade` enum('F├ícil','M├®dio','Dif├¡cil') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'F├ícil',
  `tempo_preparo_min` int DEFAULT NULL COMMENT 'Tempo de preparo em minutos',
  `tempo_cozimento_min` int DEFAULT NULL COMMENT 'Tempo de cozimento em minutos',
  `porcoes` int DEFAULT NULL COMMENT 'N├║mero de por├º├Áes que a receita serve',
  `status` enum('ativo','inativo','pendente') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendente',
  `data_criacao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `calorias_kcal` int DEFAULT NULL,
  `proteinas_g` decimal(10,2) DEFAULT NULL,
  `carboidratos_g` decimal(10,2) DEFAULT NULL,
  `gorduras_g` decimal(10,2) DEFAULT NULL,
  `media_avaliacoes` decimal(3,2) DEFAULT '0.00',
  `quantidade_avaliacoes` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `id_categoria` (`id_categoria`),
  KEY `id_usuario_criador` (`id_usuario_criador`),
  KEY `id_produtor` (`id_produtor`),
  KEY `id_midia_principal` (`id_midia_principal`),
  CONSTRAINT `receitas_ibfk_1` FOREIGN KEY (`id_categoria`) REFERENCES `categorias_receitas` (`id`),
  CONSTRAINT `receitas_ibfk_2` FOREIGN KEY (`id_usuario_criador`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `receitas_ibfk_3` FOREIGN KEY (`id_produtor`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `receitas_ibfk_4` FOREIGN KEY (`id_midia_principal`) REFERENCES `midia` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receitas`
--

LOCK TABLES `receitas` WRITE;
/*!40000 ALTER TABLE `receitas` DISABLE KEYS */;
/*!40000 ALTER TABLE `receitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saques`
--

DROP TABLE IF EXISTS `saques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saques` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_afiliado` int NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `status` enum('solicitado','em_processamento','pago','falhou') NOT NULL DEFAULT 'solicitado',
  `chave_pix` varchar(255) DEFAULT NULL,
  `dados_bancarios` json DEFAULT NULL,
  `id_transacao_saque_gateway` varchar(255) DEFAULT NULL,
  `data_solicitacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_pagamento` datetime DEFAULT NULL,
  `data_atualizacao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `id_usuario` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_afiliado` (`id_afiliado`),
  KEY `idx_saques_usuario` (`id_usuario`),
  KEY `idx_saques_status` (`status`),
  CONSTRAINT `saques_ibfk_1` FOREIGN KEY (`id_afiliado`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saques`
--

LOCK TABLES `saques` WRITE;
/*!40000 ALTER TABLE `saques` DISABLE KEYS */;
/*!40000 ALTER TABLE `saques` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status_usuarios`
--

DROP TABLE IF EXISTS `status_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `status_usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status_usuarios`
--

LOCK TABLES `status_usuarios` WRITE;
/*!40000 ALTER TABLE `status_usuarios` DISABLE KEYS */;
INSERT INTO `status_usuarios` VALUES (1,'Ativo'),(4,'Bloqueado'),(2,'Inativo'),(3,'Pendente');
/*!40000 ALTER TABLE `status_usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tags`
--

DROP TABLE IF EXISTS `tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tags` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tags`
--

LOCK TABLES `tags` WRITE;
/*!40000 ALTER TABLE `tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_preferences`
--

DROP TABLE IF EXISTS `user_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_preferences` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `preferencia_chave` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `preferencia_valor` text COLLATE utf8mb4_unicode_ci,
  `atualizado_em` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_usuario` (`id_usuario`,`preferencia_chave`),
  CONSTRAINT `user_preferences_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_preferences`
--

LOCK TABLES `user_preferences` WRITE;
/*!40000 ALTER TABLE `user_preferences` DISABLE KEYS */;
INSERT INTO `user_preferences` VALUES (1,2,'theme','light','2025-09-16 20:06:19'),(3,3,'sidenav_type','dark','2025-09-17 12:32:50'),(6,3,'sidenav_color','info','2025-09-17 12:33:21'),(11,3,'navbar_fixed','false','2025-09-17 12:33:31'),(13,1,'categorySearch','v','2025-10-04 00:15:14'),(15,1,'tagSearch','c','2025-10-04 00:15:03');
/*!40000 ALTER TABLE `user_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_cursos`
--

DROP TABLE IF EXISTS `usuario_cursos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_cursos` (
  `id_usuario` int NOT NULL,
  `id_curso` int NOT NULL,
  `data_aquisicao` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`,`id_curso`),
  KEY `id_curso` (`id_curso`),
  CONSTRAINT `usuario_cursos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `usuario_cursos_ibfk_2` FOREIGN KEY (`id_curso`) REFERENCES `cursos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_cursos`
--

LOCK TABLES `usuario_cursos` WRITE;
/*!40000 ALTER TABLE `usuario_cursos` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_cursos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sobrenome` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chave_pix` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cpf` varchar(14) COLLATE utf8mb4_unicode_ci NOT NULL,
  `senha_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo_afiliado_proprio` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_afiliado_indicador` int DEFAULT NULL,
  `saldo_disponivel` decimal(10,2) NOT NULL DEFAULT '0.00',
  `saldo_pendente` decimal(10,2) NOT NULL DEFAULT '0.00',
  `id_permissao` int NOT NULL,
  `id_status` int NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `isPaying` tinyint(1) NOT NULL DEFAULT '0',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ultimo_login` timestamp NULL DEFAULT NULL,
  `rg` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_nascimento` date DEFAULT NULL,
  `telefone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `endereco` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_endereco` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `complemento` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bairro` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cep` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cidade` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `biografia` text COLLATE utf8mb4_unicode_ci,
  `profissao` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `escolaridade` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nome_exibicao` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nome que o usu├írio deseja ser chamado',
  `sexo` enum('Masculino','Feminino','Outro','Prefiro n├úo informar') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_civil` enum('Solteiro','Casado','Divorciado','Vi├║vo','Uni├úo Est├ível','Outro') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `foto_perfil_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Foto de perfil do usu├írio',
  `gateway_customer_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_origem` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Estado onde nasceu',
  `pais_origem` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Pa├¡s de origem',
  `preferencias` text COLLATE utf8mb4_unicode_ci COMMENT 'Prefer├¬ncias do usu├írio (JSON, ex: culin├íria, restri├º├Áes alimentares)',
  `data_primeiro_cadastro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Data em que o usu├írio fez o primeiro cadastro',
  `data_expiracao_assinatura` date DEFAULT NULL COMMENT 'Data de expira├º├úo da assinatura de 30 dias',
  `data_expiracao_carencia` date DEFAULT NULL COMMENT 'Data de expira├º├úo do per├¡odo de car├¬ncia de 15 dias',
  `stripe_customer_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ID do cliente no Stripe',
  `stripe_account_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `cpf` (`cpf`),
  UNIQUE KEY `codigo_afiliado_proprio` (`codigo_afiliado_proprio`),
  KEY `id_permissao` (`id_permissao`),
  KEY `id_status` (`id_status`),
  KEY `id_afiliado_indicador` (`id_afiliado_indicador`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`id_permissao`) REFERENCES `permissoes` (`id`),
  CONSTRAINT `usuarios_ibfk_2` FOREIGN KEY (`id_status`) REFERENCES `status_usuarios` (`id`),
  CONSTRAINT `usuarios_ibfk_3` FOREIGN KEY (`id_afiliado_indicador`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_backup_antes_migracao`
--

DROP TABLE IF EXISTS `usuarios_backup_antes_migracao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_backup_antes_migracao` (
  `id` int NOT NULL DEFAULT '0',
  `nome` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sobrenome` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cpf` varchar(14) COLLATE utf8mb4_unicode_ci NOT NULL,
  `senha_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo_afiliado_proprio` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_afiliado_indicador` int DEFAULT NULL,
  `saldo` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Saldo/Carteira do usu├írio',
  `id_permissao` int NOT NULL,
  `id_status` int NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `isPaying` tinyint(1) NOT NULL DEFAULT '0',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ultimo_login` timestamp NULL DEFAULT NULL,
  `rg` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_nascimento` date DEFAULT NULL,
  `telefone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `endereco` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_endereco` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `complemento` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bairro` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cep` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cidade` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` varchar(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `biografia` text COLLATE utf8mb4_unicode_ci,
  `profissao` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `escolaridade` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nome_exibicao` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nome que o usu├írio deseja ser chamado',
  `sexo` enum('Masculino','Feminino','Outro','Prefiro n├úo informar') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_civil` enum('Solteiro','Casado','Divorciado','Vi├║vo','Uni├úo Est├ível','Outro') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `foto_perfil_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Foto de perfil do usu├írio',
  `gateway_customer_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_origem` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Estado onde nasceu',
  `pais_origem` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Pa├¡s de origem',
  `preferencias` text COLLATE utf8mb4_unicode_ci COMMENT 'Prefer├¬ncias do usu├írio (JSON, ex: culin├íria, restri├º├Áes alimentares)',
  `data_primeiro_cadastro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Data em que o usu├írio fez o primeiro cadastro',
  `data_expiracao_assinatura` date DEFAULT NULL COMMENT 'Data de expira├º├úo da assinatura de 30 dias',
  `data_expiracao_carencia` date DEFAULT NULL COMMENT 'Data de expira├º├úo do per├¡odo de car├¬ncia de 15 dias',
  `stripe_customer_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ID do cliente no Stripe',
  `stripe_account_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_backup_antes_migracao`
--

LOCK TABLES `usuarios_backup_antes_migracao` WRITE;
/*!40000 ALTER TABLE `usuarios_backup_antes_migracao` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_backup_antes_migracao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `visitas`
--

DROP TABLE IF EXISTS `visitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `visitas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `url_visitada` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_afiliado_referencia` int DEFAULT NULL,
  `id_compartilhamento` bigint DEFAULT NULL,
  `id_usuario_visitante` int DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_afiliado_referencia` (`id_afiliado_referencia`),
  KEY `id_compartilhamento` (`id_compartilhamento`),
  KEY `id_usuario_visitante` (`id_usuario_visitante`),
  CONSTRAINT `visitas_ibfk_1` FOREIGN KEY (`id_afiliado_referencia`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `visitas_ibfk_2` FOREIGN KEY (`id_compartilhamento`) REFERENCES `compartilhamentos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `visitas_ibfk_3` FOREIGN KEY (`id_usuario_visitante`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `visitas`
--

LOCK TABLES `visitas` WRITE;
/*!40000 ALTER TABLE `visitas` DISABLE KEYS */;
/*!40000 ALTER TABLE `visitas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-20 19:33:56
